$blue: rgb(0,79,250);

@font-face {
    font-family: museoSans100;
    src: url('../fonts/museosans-100-webfont.ttf');
}
@font-face {
    font-family: museoSans300;
    src: url('../fonts/museosans-300-webfont.ttf');
}
@font-face {
    font-family: museoSans900;
    src: url('../fonts/museosans_900-webfont.ttf');
}
*{
    padding: 0;
    margin: 0;
}

a, a:hover{
    text-decoration: none;
}

body{
    font-size: 30px;
    font-family:  museoSans100, sans-serif;
    max-width: 1640px;
    margin: 0 auto;
    overflow-x: hidden;
    color: rgb(108,113,119);
}

header{
    padding: 20px 11% 20px 11%;
    height: 95px;
    display: flex;
    position: relative; 

    .logo-text{
        font-size: 1.3em;
        font-family: museoSans300, sans-serif;
        color: rgb(36, 113, 255);
        line-height: 1.0;
      	align-self: center;
    }
   
    .logo-img{
        height:100%;
	      width:auto;
    }

    .nav-links{
        margin-left: auto;
        display: flex;
        justify-content: space-around;
        width:45%;
        align-items: stretch;
    }  

    li {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        position: relative;
    }

    .link a {
        font-family:  museoSans900, sans-serif;
        color: black;
        font-size: 17px;
        padding: 15px 0;
        box-sizing: border-box; 
        cursor: pointer; 
    } 

    a::before {
        content:'';
        display: block;
        height: 4px;
        width: 0%;
        background-color: $blue;
        position: absolute;
        bottom: -20px;
        transition: all 1s ease-in-out
    }

    a:hover::before{
        width: 100%;
    }

    .contact-links, 
    .open-nav-icon{
        display: none;
    }
}
 
.contact-links {
    align-items: center;
    padding: 0;

    li{
        margin: 0 15px 0 0;
        list-style-type: none;
    }
}

.facebook, /*outside of header because is used in footer also*/
.tweeter, 
.you-tube{
    background-image: url('../assets/images/icons/big-icons.png');
    background-repeat: no-repeat; 
    cursor: pointer;
}

.facebook {
    width: 26px;
    height: 26px;
    background-position: -2px -31px;;
}

.tweeter {
    width: 28px;
    height: 25px;
    background-position: -32px -32px;
}

.you-tube {
    width: 30px;
  	height: 22px;
    background-position:-61px -32px; 
}

/*------------------------LOG IN SECTION-----------------------------------*/
.main-h { /*main heading used in login, news and slider section*/
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
    letter-spacing: 0.3px;
    font-weight: 100;
    line-height: 1.1;
    width: 62%;  
}

.pic-text-warper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}

.log-in-section {
    background-image: url('../assets/images/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 53.05%; /* (img-height / img-width * container-width) */
    position:relative;

    .log-in-heading {
        color:white;
    }
}

/*----------------------BUTTONS STYLE--------------------------------*/
.btn {
    padding: 3px 15px;
    border-radius: 40px;
    margin: 0 auto;
    font-size:68%;
    display: flex;
    align-items: center;
}

.btn:after {
    content: "\203A";	
    font-size: 25px;
  	margin-left: 9px;
    font-family: sans-serif;
}

.bth:active, .btn:focus {
    outline: none;
}

.big-btn {
    padding: 8px 18px;
}

.button-blue {
    color: white;  
    background-color: $blue;
    border: none;
}  

.button-white {
    color: $blue;  
    background-color:white;
    border: 2px solid $blue;
}

.button-blue:hover {
    background-color:rgb(36, 113, 255);
}

.button-white:hover {
    background-color:rgb(36, 113, 255);
    color:white;
    border: 2px solid rgb(36, 113, 255)
}

/*------------------------MAIN SECTION--------------------------------*/
main {
    padding: 20px 11% 20px 11%;
    margin-bottom: 20px;
  
    h3, h2 {
        padding: 30px 0;
    }

    p, li {
        margin-bottom: 25px;
        line-height: 1.2;
    }

    ul {
        margin-left: 3%;
        list-style-type: circle;
    }
}

.blue-link {/*used in footer also*/
    color: $blue;
    cursor: pointer;
}

/*-----------------------------SLIDER SECTION--------------------------------*/
#slider{
   position: relative;
   color: white;

   .show-slide{
        position: relative;
        display: none;
        animation: slide 0.5s ease-in;
    }

    .image-description-warper{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
  
    img{
       width: 100%;
       height: auto;
    }

    .slider-text{
       width: 50%;
       text-align: center;
       margin-bottom:20px;
    }

    .fade {
        -webkit-animation: fadein 1.5s linear forwards;
    }
   
    @-webkit-keyframes fadein{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    } 
 
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 41%;
        padding: 8px 16px;
        border: 4px solid white;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        z-index: 100;
     }
  
   .prev{
        left:11%;
    }

    .next {
        right: 11%;
    }
}

/*-----------------------------MORE NEWS SECTION--------------------------------*/
.more-news-section {
    padding: 40px 11% 40px 11%;
    margin-bottom: 20px;

    h1{
        text-align: center;
        margin: 25px auto;
    }

    .figures-warper {
        display: flex;
        justify-content: space-between;
    }

    figure {
        width: 33%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding-bottom: 10px;
    }
 
    .image-warper {
        margin: 0 0 20px;
    }  

    figcaption {
        color: grey;
        margin-bottom: 20px;    
    }

    img {
        width: 100%;
        height: auto;
    }
}

/*-----------------------------FOOTER SECTION--------------------------------*/
footer{
    padding: 30px 11% 30px 11%;
    background-color: #f7f7f7;
    border-top: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e1e2;;
    margin-top: 40px;

    .contact-links{
        display: flex;
	    align-items: center;
        padding: 0;

        li{
            margin: 0 15px 0 0;
            list-style-type: none;
        }
    } 
  
    .facebook:hover {
        background-position: -2px -2px;
    }

    .tweeter:hover{
        background-position: -32px -3px;
    }

    .you-tube:hover{
        background-position: -61px -3px; 
  }
}

