@media only screen and (max-width: 1024px) {
  body {
    font-size: 24px; }
  header,
  main,
  .more-news-section,
  footer {
    padding: 20px 5% 20px 5%; }
  header {
    height: 80px; }
  .link a {
    padding: 22px 0 !important; }
  .nav-links {
    width: 60% !important; }
  .prev {
    left: 5%; }
  .next {
    right: 5%; } }

/*------------------------COMMON TABLET AND MOB STYLES----------------*/
@media only screen and (max-width: 768px) {
  .nav-links {
    background-color: #121e3e;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: start !important;
    padding: 130px 0 100% 90px;
    width: 65% !important;
    visibility: hidden;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 1s ease-out; }
  .link a, .link-last-child {
    padding: 0 !important;
    color: white !important;
    border-bottom: none !important; }
  .link {
    margin: 0; }
  .nav-links-active {
    visibility: visible;
    transform: translateX(0%);
    transition: transform 1s ease-in; }
  .contact-links {
    display: flex !important; }
  .open-nav-icon {
    margin-left: auto;
    display: flex !important;
    height: 100%;
    width: auto; }
  .link-list-child {
    display: block !important; }
  .btn, .big-btn {
    padding: 3px 12px; }
  footer li {
    margin: 0 7px 0 0; }
  footer .facebook {
    background-image: url("../assets/images/icons/small-icons.png");
    width: 17px;
    height: 17px;
    background-position: -1px -2px; }
  footer .tweeter {
    background-image: url("../assets/images/icons/small-icons.png");
    width: 17px;
    height: 15px;
    background-position: -21px -3px; }
  footer .you-tube {
    background-image: url("../assets/images/icons/small-icons.png");
    width: 20px;
    height: 14px;
    background-position: -40px -3px; } }

/*------------------------TABLET STYLES----------------*/
@media only screen and (min-width: 640px) and (max-width: 768px) {
  body {
    font-size: 19px; }
  header {
    height: 70px;
    padding: 20px; }
    header .logo-text {
      font-size: 1.5em; }
  .log-in-section {
    background-image: url("../assets/images/bacground-tablet.jpg");
    padding-top: 64% !important; }
  main {
    padding: 20px; }
  .main-h {
    font-size: 2.3em; }
  .prev {
    left: 20px !important; }
  .next {
    right: 20px !important; }
  .more-news-section {
    padding: 20px; } }

/*------------------------MOBILE STYLES----------------*/
@media only screen and (max-width: 640px) {
  body {
    font-size: 17px; }
  header {
    height: 55px;
    padding: 15px 9%; }
    header .logo-text {
      font-size: 1.6em; }
    header .nav-links {
      width: 45%;
      padding: 90px 0 100% 40px !important; }
  .btn:after {
    font-size: 18px; }
  main {
    padding: 15px 7%; }
  .main-h {
    font-size: 1.5em; }
  .prev, .next {
    padding: 6px 10px !important;
    border: 2px solid white !important;
    font-size: 1.6em !important; }
  .prev {
    left: 4% !important; }
  .next {
    right: 4% !important; }
  .btn-slider,
  .slider-text {
    display: none; }
  .figures-warper {
    flex-direction: column; }
    .figures-warper img {
      height: 8em !important; }
  figure {
    width: 100% !important;
    flex-direction: row !important; }
  .figure-border {
    border-bottom: 1px solid grey; }
  .image-warper {
    width: 30% !important;
    margin: 0 20px 0 0 !important;
    min-width: 150px; }
  .figurcaption-warper {
    width: 62% !important;
    display: inline-block; } }

@media only screen and (max-width: 320px) {
  body {
    font-size: 12px; }
  header,
  main,
  .more-news-section,
  footer {
    padding: 10px; }
  header {
    height: 45px; } }
